<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Note</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Create Note</h1>
    
    <form action="/notes" method="POST">
        <label for="titleInput">Title</label>
        <input type="text" id="titleInput" name="title">

        <label for="contentsInput">Content</label>
        <textarea type="text" id="contentsInput" name="contents"></textarea>

        <button>Create Note</button>
    </form>
</body>
</html>