<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Notes</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Notes</h1>

    <form action="/notes" method="GET">
        <label for="searchInput">Search:</label>
        <input type="text" name="searchTerm" id="searchInput">
        <button>Search</button>
    </form>

    <ul>
        <% notes.map(note => { %>
            <li>
                <h2><%= note.title %></h2>
                <p><%= note.contents.substring(0, 200) %>...</p>
                <div><%= new Date(note.timestamp) %></div>
                <a href="/notes/<%= note.id %>">View More</a>
            </li>
        <% }) %>
    </ul>

    <a href="/createNote">Create New Note</a>
</body>
</html>