<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Notes</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= note.title %></h1>
    <p><%= note.contents %></p>
    <div><%= new Date(note.timestamp) %></div>

    <a href="/notes">Back</a>
</body>
</html>