body {
    background-color: #ff7400;
    margin: 10rem;
}

.intro-container {
    color: white;
    font-size: 2rem;
}
.logo-white {
    margin: 2rem auto;
    display: block;
    width: 20%;
}
.title {
    text-align: center;
}
.question {
    font-size: 3.5rem;
    margin-top: 1rem;
}

.intro-p {
    margin-bottom: 1rem;
}

.email {
    font-size: 1.5rem;
}

ul {
    list-style: none;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

button {
    width: 20%;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #ffffff;
    background: #7ab868;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
    :hover {
        background: #006e52;
    }
}

@media (max-width: 768px) {
    .logo-white {
        margin: 1rem auto;
        display: block;
        width: 30%;
    }
    .intro-container {
        color: white;
        margin: 2rem;
        font-size: 1.5rem;
    }

    .question {
        font-size: 2rem;
        margin-top: 1rem;
    }
    .email {
        font-size: 1rem;
    }
}